.step-tabs-nav {
}

.step-tabs {
  position: relative;
  display: flex;
  background: #fff6f8;
  border-radius: 100px;
  padding: 4px;
  gap: 8px;
  overflow: hidden;
  list-style: none;
  margin: 0;
}

.step-tabs__blob {
  position: absolute;
  top: 4px;
  bottom: 4px;
  border-radius: 50px;
  background-color: #f43f5e;
  transition: background, right, left 0.3s ease;
  z-index: 0;
}

.step-tabs__tab {
  position: relative;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 100px;
  cursor: pointer;
  color: #374151;
  z-index: 1;
  transition: color 0.3s ease;
  white-space: nowrap;

  &:focus {
    outline: solid 2px rgb(244, 63, 94);
  }

  &.active {
    color: white;
  }
}

.step-tabs__dropdown {
  width: 100%;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
  background-color: #fff6f8;
  color: #374151;
  border: 2px solid #d0d0d0;

  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}
